<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center">The Book of the Sunnah</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="majah"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">حَدَّثَنَا أَبُو عَبْدِ اللَّهِ، قَالَ حَدَّثَنَا مُحَمَّدُ بْنُ الصَّبَّاحِ، قَالَ أَنْبَأَنَا جَرِيرٌ، عَنِ الأَعْمَشِ، عَنْ أَبِي صَالِحٍ، عَنْ أَبِي هُرَيْرَةَ، قَالَ قَالَ رَسُولُ اللَّهِ ـ صلى الله عليه وسلم ـ ‏ "‏ ذَرُونِي مَا تَرَكْتُكُمْ فَإِنَّمَا هَلَكَ مَنْ كَانَ قَبْلَكُمْ بِسُؤَالِهِمْ وَاخْتِلاَفِهِمْ عَلَى أَنْبِيَائِهِمْ فَإِذَا أَمَرْتُكُمْ بِشَىْءٍ فَخُذُوا مِنْهُ مَا اسْتَطَعْتُمْ وَإِذَا نَهَيْتُكُمْ عَنْ شَىْءٍ فَانْتَهُوا ‏"‏ ‏.‏</p>
        <p align="center"></p>
        <p align="center">Abu Hurairah narrated that:
The Prophet said: "Leave me as I have left you (Don't ask me the minor things that I have avoided to tell you). For those who came before you were doomed because of their questions and differences with their Prophets. If I commanded you to do something, then do as much of it as you can, and if I forbid you from doing something, then refrain from it." </p>
        <p align="center"></p>
        
       
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">حَدَّثَنَا أَبُو بَكْرِ بْنُ أَبِي شَيْبَةَ، حَدَّثَنَا أَبُو مُعَاوِيَةَ، وَوَكِيعٌ، عَنِ الأَعْمَشِ، عَنْ أَبِي صَالِحٍ، عَنْ أَبِي هُرَيْرَةَ، قَالَ قَالَ رَسُولُ اللَّهِ ـ صلى الله عليه وسلم ـ ‏ "‏ مَنْ أَطَاعَنِي فَقَدْ أَطَاعَ اللَّهَ وَمَنْ عَصَانِي فَقَدْ عَصَى اللَّهَ ‏"‏ ‏.</p>
        <p align="center"></p>
        <p align="center">
          Abu Hurairah narrated that:
The Prophet said: "Whoever obeys me, obeys Allah; and whoever disobeys me, disobeys Allah." </p>
        <p align="center"></p>
        
        
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">حَدَّثَنَا مُحَمَّدُ بْنُ بَشَّارٍ، حَدَّثَنَا مُحَمَّدُ بْنُ جَعْفَرٍ، حَدَّثَنَا شُعْبَةُ، عَنْ مُعَاوِيَةَ بْنِ قُرَّةَ، عَنْ أَبِيهِ، قَالَ قَالَ رَسُولُ اللَّهِ ـ صلى الله عليه وسلم ـ ‏ "‏ لاَ تَزَالُ طَائِفَةٌ مِنْ أُمَّتِي مَنْصُورِينَ لاَ يَضُرُّهُمْ مَنْ خَذَلَهُمْ حَتَّى تَقُومَ السَّاعَةُ ‏"‏ ‏.‏‏‏</p>
        <p align="center"></p>
        <p align="center">
         Mu'awiyah bin Qurrah narrated that his father said:
The Messenger of Allah (ﷺ) said: "A group of my Ummah will continue to prevail and they will never be harmed by those who forsake them, until the Hour begins." </p>
        <p align="center"></p>
        
        
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">َََ حَدَّثَنَا هِشَامُ بْنُ عَمَّارٍ، حَدَّثَنَا مُحَمَّدُ بْنُ شُعَيْبٍ، حَدَّثَنَا سَعِيدُ بْنُ بَشِيرٍ، عَنْ قَتَادَةَ، عَنْ أَبِي قِلاَبَةَ، عَنْ أَبِي أَسْمَاءَ الرَّحَبِيِّ، عَنْ ثَوْبَانَ، أَنَّ رَسُولَ اللَّهِ ـ صلى الله عليه وسلم ـ قَالَ ‏ "‏ لاَ يَزَالُ طَائِفَةٌ مِنْ أُمَّتِي عَلَى الْحَقِّ مَنْصُورِينَ لاَ يَضُرُّهُمْ مَنْ خَالَفَهُمْ حَتَّى يَأْتِيَ أَمْرُ اللَّهِ عَزَّ وَجَلَّ ‏"‏ ‏.‏</p>
        <p align="center"></p>
        <p align="center">It was narrated from Thawban that:
The Messenger of Allah (ﷺ) said: "A group among my Ummah will continue to follow the truth and prevail, and those who oppose them will not be able to harm them, until the command of Allah comes to pass."</p>
        <p align="center"></p>
        
        
      </ion-card-content>
    </ion-card>


</div>
  </ion-content>