<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center"></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="revelation"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">1. Narrated by Jabir Bin Abdullah that he heard the Prophet SAW say:
          ثُمَّ فَتَرَ عَنِّي الْوَحْيُ فَتْرَةً فَبَيْنَا أَنَا أَمْشِي سَمِعْتُ صَوْتًا مِنْ السَّمَاءِ فَرَفَعْتُ بَصَرِي قِبَلَ السَّمَاءِ فَإِذَا الْمَلَكُ الَّذِي جَاءَنِي بِحِرَاءٍ قَاعِدٌ عَلَى كُرْسِيٍّ بَيْنَ السَّمَاءِ وَالْأَرْضِ فَجُئِثْتُ مِنْهُ حَتَّى هَوَيْتُ إِلَى الْأَرْضِ فَجِئْتُ أَهْلِي فَقُلْتُ زَمِّلُونِي زَمِّلُونِي فَأَنْزَلَ اللَّهُ تَعَالَى يَا أَيُّهَا الْمُدَّثِّرُ قُمْ فَأَنْذِرْ إِلَى قَوْلِهِ وَالرُّجْزَ فَاهْجُرْ </p>
        <p align="center"></p>
        <p align="center">It means “Then the revelation stopped for a while. As I walked, I heard a voice from heaven. Then I lifted up my eyes to heaven and saw the same angel coming to me in the cave of Hira, sitting on a chair between heaven and earth. Then I was so shocked and frightened that I fell to the ground. So I kept coming to my family members. So I said: Cover me, cover me. Then Allah SWT revealed the verse: يَا أَيُّهَا الْمُدَّثِّرُ قُمْ فَأَنْذِرْ until the verse وَالرُّجْزَ فَاهْجُرْ.
          Riwayat Al-Bukhari (3238) </p>
        <p align="center"></p>
        
        
      </ion-card-content>
    </ion-card>
</div>
  </ion-content>