<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center">The Book on Al-Witr</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tirmidhi"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">َحَدَّثَنَا أَحْمَدُ بْنُ مَنِيعٍ، حَدَّثَنَا أَبُو بَكْرِ بْنُ عَيَّاشٍ، حَدَّثَنَا أَبُو حَصِينٍ، عَنْ يَحْيَى بْنِ وَثَّابٍ، عَنْ مَسْرُوقٍ، أَنَّهُ سَأَلَ عَائِشَةَ عَنْ وِتْرِ، رَسُولِ اللَّهِ صلى الله عليه وسلم فَقَالَتْ مِنْ كُلِّ اللَّيْلِ قَدْ أَوْتَرَ أَوَّلِهِ وَأَوْسَطِهِ وَآخِرِهِ فَانْتَهَى وِتْرُهُ حِينَ مَاتَ إِلَى السَّحَرِ ‏.‏ قَالَ أَبُو عِيسَى أَبُو حَصِينٍ اسْمُهُ عُثْمَانُ بْنُ عَاصِمٍ الأَسَدِيُّ ‏.‏ قَالَ وَفِي الْبَابِ عَنْ عَلِيٍّ وَجَابِرٍ وَأَبِي مَسْعُودٍ الأَنْصَارِيِّ وَأَبِي قَتَادَةَ ‏.‏ قَالَ أَبُو عِيسَى حَدِيثُ عَائِشَةَ حَدِيثٌ حَسَنٌ صَحِيحٌ ‏.‏ وَهُوَ الَّذِي اخْتَارَهُ بَعْضُ أَهْلِ الْعِلْمِ الْوِتْرُ مِنْ آخِرِ اللَّيْلِ ‏.</p>
        <p align="center"></p>
        <p align="center">Masruq narrated that :
          he asked Aishah about the Witr of the Prophet. She said: "He would perform Witr during all of the night; (either) its beginning, its middle, or its end. So when he died, his Witr ended, during the approachof As-Sahar." </p>
        <p align="center"></p>
        
        
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">َحَدَّثَنَا قُتَيْبَةُ، حَدَّثَنَا حَمَّادُ بْنُ زَيْدٍ، عَنْ أَنَسِ بْنِ سِيرِينَ، قَالَ سَأَلْتُ ابْنَ عُمَرَ فَقُلْتُ أُطِيلُ فِي رَكْعَتَىِ الْفَجْرِ فَقَالَ كَانَ النَّبِيُّ صلى الله عليه وسلم يُصَلِّي مِنَ اللَّيْلِ مَثْنَى مَثْنَى وَيُوتِرُ بِرَكْعَةٍ وَكَانَ يُصَلِّي الرَّكْعَتَيْنِ وَالأَذَانُ فِي أُذُنِهِ ‏.‏ يَعَنِي يُخَفِّفُ ‏.‏ قَالَ وَفِي الْبَابِ عَنْ عَائِشَةَ وَجَابِرٍ وَالْفَضْلِ بْنِ عَبَّاسٍ وَأَبِي أَيُّوبَ وَابْنِ عَبَّاسٍ ‏.‏ قَالَ أَبُو عِيسَى حَدِيثُ ابْنِ عُمَرَ حَدِيثٌ حَسَنٌ صَحِيحٌ ‏.‏ وَالْعَمَلُ عَلَى هَذَا عِنْدَ بَعْضِ أَهْلِ الْعِلْمِ مِنْ أَصْحَابِ النَّبِيِّ صلى الله عليه وسلم وَالتَّابِعِينَ رَأَوْا أَنْ يَفْصِلَ الرَّجُلُ بَيْنَ الرَّكْعَتَيْنِ وَالثَّالِثَةِ يُوتِرُ بِرَكْعَةٍ ‏.‏ وَبِهِ يَقُولُ مَالِكٌ وَالشَّافِعِيُّ وَأَحْمَدُ وَإِسْحَاقُ ‏.  </p>
        <p align="center"></p>
        <p align="center">
          Anas bin Sirin narrated that :
          he asked Ibn Umar about the length of the two Rak'ah (before) Al-Fajr. He said: "The Prophet would pray two and two during the night, and he would perform Al-Witr with one Rak'ah. And he would pray two Rak'ah while he was hearing the Adhan [meaning that they were light]." </p>
        <p align="center"></p>
        
        
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">َحَدَّثَنَا مَحْمُودُ بْنُ غَيْلاَنَ، حَدَّثَنَا وَكِيعٌ، حَدَّثَنَا عَبْدُ الرَّحْمَنِ بْنُ زَيْدِ بْنِ أَسْلَمَ، عَنْ أَبِيهِ، عَنْ عَطَاءِ بْنِ يَسَارٍ، عَنْ أَبِي سَعِيدٍ الْخُدْرِيِّ، قَالَ قَالَ رَسُولُ اللَّهِ صلى الله عليه وسلم ‏ "‏ مَنْ نَامَ عَنِ الْوِتْرِ أَوْ نَسِيَهُ فَلْيُصَلِّ إِذَا ذَكَرَ وَإِذَا اسْتَيْقَظَ ‏" </p>
        <p align="center"></p>
        <p align="center">
          Abu Sa'eed Al-Khudri narrated that :
Allah's Messenger said: "Whoever sleeps past Al-Witr or forgets it, then let him pray it when he remembers it or when he awakens." </p>
        <p align="center"></p>
        
        
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">َََ حَدَّثَنَا أَبُو جَعْفَرٍ السِّمْنَانِيُّ، حَدَّثَنَا أَبُو مُسْهِرٍ، حَدَّثَنَا إِسْمَاعِيلُ بْنُ عَيَّاشٍ، عَنْ بَحِيرِ بْنِ سَعْدٍ، عَنْ خَالِدِ بْنِ مَعْدَانَ، عَنْ جُبَيْرِ بْنِ نُفَيْرٍ، عَنْ أَبِي الدَّرْدَاءِ، وَأَبِي، ذَرٍّ عَنْ رَسُولِ اللَّهِ صلى الله عليه وسلم ‏ "‏ عَنِ اللَّهِ، عَزَّ وَجَلَّ أَنَّهُ قَالَ ابْنَ آدَمَ ارْكَعْ لِي مِنْ أَوَّلِ النَّهَارِ أَرْبَعَ رَكَعَاتٍ أَكْفِكَ آخِرَهُ ‏"‏ ‏.‏ قَالَ أَبُو عِيسَى هَذَا حَدِيثٌ حَسَنٌ غَرِيبٌ ‏.‏ </p>
        <p align="center"></p>
        <p align="center">Jubair narrated from Abu Ad-Darda, or Abu Dharr, that :
Allah's Messenger narrated that Allah, Blessed and Most High said: "Son of Adam: Perform four Rak'ah for Me in the beginning of the day it will suffice you for the latter part of it." </p>
        <p align="center"></p>
        
        
      </ion-card-content>
    </ion-card>


</div>
  </ion-content>