<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center">Sahih Muslim</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="biodata"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <ion-card color="dark">
      <ion-card-header>
       
      </ion-card-header>
      <ion-card-content>
        
        <ion-button color="success" [routerLink]="['/faith']">
          <ion-icon  ion-icon name="arrow-forward-outline"></ion-icon>
         The Book of Faith
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
       
      </ion-card-header>
      <ion-card-content>
        
        <ion-button color="success" [routerLink]="['/menstruation']" >
           <ion-icon ion-icon name="arrow-forward-outline"></ion-icon>
          The Book of Menstruation
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
       
      </ion-card-header>
      <ion-card-content>
        
        <ion-button color="success" [routerLink]="['/mosques']" >
           <ion-icon  ion-icon name="arrow-forward-outline"></ion-icon>
          The book of Mosques and Places of Prayers
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
       
      </ion-card-header>
      <ion-card-content>
        
        <ion-button color="success" [routerLink]="['/prayers']" >
           <ion-icon  ion-icon name="arrow-forward-outline"></ion-icon>
          The Book of Prayers
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
       
      </ion-card-header>
      <ion-card-content>
        
        <ion-button color="success" [routerLink]="['/purification']" >
           <ion-icon  ion-icon name="arrow-forward-outline"></ion-icon>
          The Books of Purification
         </ion-button>
      </ion-card-content>
    </ion-card>
</div>
  </ion-content>
