<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center"></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="knowledge"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">3. حَدَّثَنَا قُتَيْبَةُ، حَدَّثَنَا إِسْمَاعِيلُ بْنُ جَعْفَرٍ، عَنْ عَبْدِ اللَّهِ بْنِ دِينَارٍ، عَنِ ابْنِ عُمَرَ، قَالَ قَالَ رَسُولُ اللَّهِ صلى الله عليه وسلم  إِنَّ مِنَ الشَّجَرِ شَجَرَةً لاَ يَسْقُطُ وَرَقُهَا، وَإِنَّهَا مَثَلُ الْمُسْلِمِ، فَحَدِّثُونِي مَا هِيَ  فَوَقَعَ النَّاسُ فِي شَجَرِ الْبَوَادِي قَالَ عَبْدُ اللَّهِ وَوَقَعَ فِي نَفْسِي أَنَّهَا النَّخْلَةُ، فَاسْتَحْيَيْتُ ثُمَّ قَالُوا حَدِّثْنَا مَا هِيَ يَا رَسُولَ اللَّهِ قَالَ  هِيَ النَّخْلَةُ   </p> 
            <p align="center"></p>
        <p align="center">Narrated Ibn `Umar:
          Allah's Messenger (ﷺ) said, "Amongst the trees, there is a tree, the leaves of which do not fall and is like a Muslim. Tell me the name of that tree." Everybody started thinking about the trees of the desert areas. And I thought of the date-palm tree but felt shy to answer the others then asked, "What is that tree, O Allah's Messenger (ﷺ) ?" He replied, "It is the date-palm tree."
          
           </p>
        <p align="center"></p>
        
        
      </ion-card-content>
    </ion-card>
</div>
  </ion-content>