<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center">Fasting</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="lifehadith"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        
        <p align="center"> حَدَّثَنَا مُسَدَّدٌ، حَدَّثَنَا إِسْمَاعِيلُ، عَنْ أَيُّوبَ، عَنْ نَافِعٍ، عَنِ ابْنِ عُمَرَ ـ رضى الله عنهما ـ قَالَ صَامَ النَّبِيُّ صلى الله عليه وسلم عَاشُورَاءَ، وَأَمَرَ بِصِيَامِهِ فَلَمَّا فُرِضَ رَمَضَانُ تُرِكَ وَكَانَ عَبْدُ اللَّهِ لاَ يَصُومُهُ، إِلاَّ أَنْ يُوَافِقَ صَوْمَهُ
           </p>
        <p align="center"></p>
        <p align="center">
          Narrated Ibn `Umar:

The Prophet (ﷺ) observed the fast on the 10th of Muharram ('Ashura), and ordered (Muslims) to fast on that day, but when the fasting of the month of Ramadan was prescribed, the fasting of the 'Ashura' was abandoned. `Abdullah did not use to fast on that day unless it coincided with his routine fasting by chance.

 </p>
        <p align="center"></p>
        
       
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
          
        
        <p align="center">
          حَدَّثَنَا قُتَيْبَةُ، حَدَّثَنَا إِسْمَاعِيلُ بْنُ جَعْفَرٍ، عَنْ أَبِي سُهَيْلٍ، عَنْ أَبِيهِ، عَنْ أَبِي هُرَيْرَةَ ـ رضى الله عنه ـ أَنَّ رَسُولَ اللَّهِ صلى الله عليه وسلم قَالَ  إِذَا جَاءَ رَمَضَانُ فُتِحَتْ أَبْوَابُ الْجَنَّةِ "
        </p>
        <p align="center"></p>
        <p align="center">
          Narrated Abu Huraira:

          Allah's Messenger (ﷺ) said, "When Ramadan begins, the gates of Paradise are opened.</p>
        <p align="center"></p>
        
        
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        
        <p align="center">
          حَدَّثَنَا آدَمُ بْنُ أَبِي إِيَاسٍ، حَدَّثَنَا ابْنُ أَبِي ذِئْبٍ، حَدَّثَنَا سَعِيدٌ الْمَقْبُرِيُّ، عَنْ أَبِيهِ، عَنْ أَبِي هُرَيْرَةَ ـ رضى الله عنه ـ قَالَ قَالَ رَسُولُ اللَّهِ صلى الله عليه وسلم  مَنْ لَمْ يَدَعْ قَوْلَ الزُّورِ وَالْعَمَلَ بِهِ فَلَيْسَ لِلَّهِ حَاجَةٌ فِي أَنْ يَدَعَ طَعَامَهُ وَشَرَابَهُ 

        </p>
        <p align="center"></p>
        <p align="center">
          Narrated Abu Huraira:

The Prophet (ﷺ) said, "Whoever does not give up forged speech and evil actions, Allah is not in need of his leaving his food and drink (i.e. Allah will not accept his fasting.)" </p>
        <p align="center"></p>
        
      
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
       
        <p align="center">
          حَدَّثَنَا آدَمُ بْنُ أَبِي إِيَاسٍ، حَدَّثَنَا شُعْبَةُ، حَدَّثَنَا عَبْدُ الْعَزِيزِ بْنُ صُهَيْبٍ، قَالَ سَمِعْتُ أَنَسَ بْنَ مَالِكٍ ـ رضى الله عنه ـ قَالَ قَالَ النَّبِيُّ صلى الله عليه وسلم  تَسَحَّرُوا فَإِنَّ فِي السَّحُورِ بَرَكَةً
        </p>
        <p align="center"></p>
        <p align="center">Narrated Anas bin Malik:

          The Prophet (ﷺ) said, "Take Suhur as there is a blessing in it."
          
            </p>
        <p align="center"></p>
        
        
      </ion-card-content>
    </ion-card>


</div>
  </ion-content>