<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center">Prayer(Kitab As-Salat)  Voluntary Prayers</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="biodata"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center"> حَدَّثَنَا أَحْمَدُ بْنُ حَنْبَلٍ، حَدَّثَنَا هُشَيْمٌ، أَخْبَرَنَا خَالِدٌ، ح وَحَدَّثَنَا مُسَدَّدٌ، حَدَّثَنَا يَزِيدُ بْنُ زُرَيْعٍ، حَدَّثَنَا خَالِدٌ، - الْمَعْنَى - عَنْ عَبْدِ اللَّهِ بْنِ شَقِيقٍ، قَالَ سَأَلْتُ عَائِشَةَ عَنْ صَلاَةِ، رَسُولِ اللَّهِ صلى الله عليه وسلم مِنَ التَّطَوُّعِ فَقَالَتْ كَانَ يُصَلِّي قَبْلَ الظُّهْرِ أَرْبَعًا فِي بَيْتِي ثُمَّ يَخْرُجُ فَيُصَلِّي بِالنَّاسِ ثُمَّ يَرْجِعُ إِلَى بَيْتِي فَيُصَلِّي رَكْعَتَيْنِ وَكَانَ يُصَلِّي بِالنَّاسِ الْمَغْرِبَ ثُمَّ يَرْجِعُ إِلَى بَيْتِي فَيُصَلِّي رَكْعَتَيْنِ وَكَانَ يُصَلِّي بِهِمُ الْعِشَاءَ ثُمَّ يَدْخُلُ بَيْتِي فَيُصَلِّي رَكْعَتَيْنِ</p>
        <p align="center"></p>
        <p align="center">Narrated Abd Allah b. Shaqiq:
          I asked A'ishah about the voluntary prayers offered by the Messenger of Allah (ﷺ). She replied: Before the noon prayer he would pray four rak'ahs in my house, </p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/vol1']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
          
        <p align="center">َدَّثَنَا مُسَدَّدٌ، حَدَّثَنَا يَحْيَى، عَنِ ابْنِ جُرَيْجٍ، حَدَّثَنِي عَطَاءٌ، عَنْ عُبَيْدِ بْنِ عُمَيْرٍ، عَنْ عَائِشَةَ، - رضى الله عنها - قَالَتْ إِنَّ رَسُولَ اللَّهِ صلى الله عليه وسلم لَمْ يَكُنْ</p>
        <p align="center"></p>
        <p align="center">
          Narrated 'Aishah:
The Messenger of Allah (ﷺ) was more particular about observing the supererogatory rak'ahs before</p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/vol2']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        
        <p align="center">َدَّثَنَا أَحْمَدُ بْنُ حَنْبَلٍ، حَدَّثَنَا أَبُو الْمُغِيرَةِ، حَدَّثَنَا عَبْدُ اللَّهِ بْنُ الْعَلاَءِ، حَدَّثَنِي أَبُو زِيَادَةَ، عُبَيْدُ اللَّهِ بْنُ زِيَادٍ الْكِنْدِيُّ عَنْ بِلاَلٍ، أَنَّهُ حَدَّثَهُ أَنَّهُ، أَتَى رَسُولَ اللَّهِ صلى الله عليه وسلم لِيُؤْذِنَهُ بِصَلاَةِ الْغَدَاةِ فَشَغَلَتْ عَائِشَةُ - رضى الله عنها - بِلاَلاً بِأَمْرٍ سَأَلَتْهُ عَنْهُ حَتَّى فَضَحَهُ الصُّبْحُ فَأَصْبَحَ</p>
        <p align="center"></p>
        <p align="center">
          Narrated Bilal:

Ziyadah al-Kindi reported on the authority of Bilal that he (Bilal) came to the Messenger of Allah (ﷺ) to inform him about the dawn prayer. </p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/vol3']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
       
        <p align="center">حَدَّثَنَا مُسَدَّدٌ، وَأَبُو كَامِلٍ وَعُبَيْدُ اللَّهِ بْنُ عُمَرَ بْنِ مَيْسَرَةَ قَالُوا حَدَّثَنَا عَبْدُ الْوَاحِدِ، حَدَّثَنَا الأَعْمَشُ، عَنْ أَبِي صَالِحٍ، عَنْ أَبِي هُرَيْرَةَ، قَالَ قَالَ رَسُولُ اللَّهِ صلى الله عليه وسلم  إِذَا صَلَّى أَحَدُكُمُ الرَّكْعَتَيْنِ قَبْلَ الصُّبْحِ فَلْيَضْطَجِعْ عَلَى يَمِينِهِ  فَقَالَ لَهُ مَرْوَانُ بْنُ الْحَكَمِ أَمَا يُجْزِئُ أَحَدَنَا مَمْشَاهُ إِلَى الْمَسْجِدِ حَتَّى يَضْطَجِعَ عَلَى يَمِينِهِ قَالَ عُبَيْدُ اللَّهِ فِي حَدِيثِهِ قَالَ لاَ  قَالَ فَبَلَغَ ذَلِكَ ابْنَ عُمَرَ فَقَالَ أَكْثَرَ أَبُو هُرَيْرَةَ عَلَى نَفْسِهِ  </p>
        <p align="center"></p>
        <p align="center">Narrated AbuHurayrah:

          The Prophet (ﷺ) said: If any of you prays two rak'ahs before the dawn prayer, he should lie at his right side.
          Marwan ibn al-Hakam said to him: Is it not enough that one of us walks to the mosque until he lies at his right side? </p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/vol4']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>


</div>
  </ion-content>
