<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center"></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="voluntary"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
              
            
           
            <p align="center">
              َدَّثَنَا مُسَدَّدٌ، وَأَبُو كَامِلٍ وَعُبَيْدُ اللَّهِ بْنُ عُمَرَ بْنِ مَيْسَرَةَ قَالُوا حَدَّثَنَا عَبْدُ الْوَاحِدِ، حَدَّثَنَا الأَعْمَشُ، عَنْ أَبِي صَالِحٍ، عَنْ أَبِي هُرَيْرَةَ، قَالَ قَالَ رَسُولُ اللَّهِ صلى الله عليه وسلم  إِذَا صَلَّى أَحَدُكُمُ الرَّكْعَتَيْنِ قَبْلَ الصُّبْحِ فَلْيَضْطَجِعْ عَلَى يَمِينِهِ  فَقَالَ لَهُ مَرْوَانُ بْنُ الْحَكَمِ أَمَا يُجْزِئُ أَحَدَنَا مَمْشَاهُ إِلَى الْمَسْجِدِ حَتَّى يَضْطَجِعَ عَلَى يَمِينِهِ قَالَ عُبَيْدُ اللَّهِ فِي حَدِيثِهِ قَالَ لاَ  قَالَ فَبَلَغَ ذَلِكَ ابْنَ عُمَرَ فَقَالَ أَكْثَرَ أَبُو هُرَيْرَةَ عَلَى نَفْسِهِ  قَالَ فَقِيلَ لاِبْنِ عُمَرَ هَلْ تُنْكِرُ شَيْئًا مِمَّا يَقُولُ قَالَ لاَ وَلَكِنَّهُ اجْتَرَأَ وَجَبُنَّا  قَالَ فَبَلَغَ ذَلِكَ أَبَا هُرَيْرَةَ قَالَ فَمَا ذَنْبِي إِنْ كُنْتُ حَفِظْتُ وَنَسُوا
            </p>
            <p align="center"></p>
        <p align="center">Narrated 'Aishah:
          Narrated AbuHurayrah:

          The Prophet (ﷺ) said: If any of you prays two rak'ahs before the dawn prayer, he should lie at his right side.
          Marwan ibn al-Hakam said to him: Is it not enough that one of us walks to the mosque until he lies at his right side? According to the version of Ubaydullah, he (AbuHurayrah) replied: No.
          This statement (of AbuHurayrah) reached Ibn Umar. He said: AbuHurayrah exceed limits on himself. He was asked: Do you look askance at what he says? He replied: No, but he dared and we showed cowardice. This (criticism of Ibn Umar) reached AbuHurayrah. He said: What is my sin if I remembered and they forgot?
          
          
           </p>
        <p align="center"></p>
        
        
      </ion-card-content>
    </ion-card>
</div>
  </ion-content>
