<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center">The Book of Faith</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="biodata"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">حَدَّثَنِي يَحْيَى بْنُ أَيُّوبَ، وَقُتَيْبَةُ بْنُ سَعِيدٍ، جَمِيعًا عَنْ إِسْمَاعِيلَ بْنِ جَعْفَرٍ، عَنْ أَبِي سُهَيْلٍ، عَنْ أَبِيهِ، عَنْ طَلْحَةَ بْنِ عُبَيْدِ اللَّهِ، عَنِ النَّبِيِّ صلى الله عليه وسلم بِهَذَا الْحَدِيثِ نَحْوَ حَدِيثِ مَالِكٍ غَيْرَ أَنَّهُ قَالَ فَقَالَ رَسُولُ اللَّهِ صلى الله عليه وسلم </p>
        <p align="center"></p>
        <p align="center">Narrated by Malik (b. Anas) (and mentioned above) is also reported by Talha b. 'Ubaidullah, with the only variation that the Prophet remarked:</p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/faith1']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">حَدَّثَنَا مُحَمَّدُ بْنُ عَبْدِ اللَّهِ بْنِ نُمَيْرٍ، حَدَّثَنَا أَبِي، حَدَّثَنَا عَمْرُو بْنُ عُثْمَانَ، حَدَّثَنَا مُوسَى بْنُ طَلْحَةَ، قَالَ حَدَّثَنِي أَبُو أَيُّوبَ، أَنَّ أَعْرَابِيًّا، عَرَضَ لِرَسُولِ اللَّهِ صلى الله عليه وسلم وَهُوَ فِي سَفَرٍ  فَأَخَذَ بِخِطَامِ نَاقَتِهِ أَوْ بِزِمَامِهَا ثُمَّ قَالَ يَا رَسُولَ اللَّهِ </p>
        <p align="center"></p>
        <p align="center">
          It is narrated on the authority of Abu Ayyub Ansari that once during the journey of the Prophet (may peace of Allah be upon him) a bedouin appeared before him and caught hold of the nosestring of his she-camel and then said, Messenger of Allah (or Muhammad) </p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/faith2']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">
          َدَّثَنَا يَحْيَى بْنُ يَحْيَى التَّمِيمِيُّ، أَخْبَرَنَا أَبُو الأَحْوَصِ، ح وَحَدَّثَنَا أَبُو بَكْرِ بْنُ أَبِي شَيْبَةَ، حَدَّثَنَا أَبُو الأَحْوَصِ، عَنْ أَبِي إِسْحَاقَ، عَنْ مُوسَى بْنِ طَلْحَةَ، عَنْ أَبِي أَيُّوبَ، قَالَ جَاءَ رَجُلٌ إِلَى النَّبِيِّ صلى الله عليه وسلم فَقَالَ دُلَّنِي عَلَى عَمَلٍ أَعْمَلُهُ يُدْنِينِي مِنَ الْجَنَّةِ</p>
        <p align="center"></p>
        <p align="center">It is narrated on the authority of Abu Ayyub that a man came to the Prophet (ﷺ) and said:
          Direct me to a deed which draws me near to Paradise </p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/faith3']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">َََحَدَّثَنِي أَبُو بَكْرِ بْنُ إِسْحَاقَ، حَدَّثَنَا عَفَّانُ، حَدَّثَنَا وُهَيْبٌ، حَدَّثَنَا يَحْيَى بْنُ سَعِيدٍ، عَنْ أَبِي زُرْعَةَ، عَنْ أَبِي هُرَيْرَةَ، أَنَّ أَعْرَابِيًّا، جَاءَ إِلَى رَسُولِ اللَّهِ صلى الله عليه وسلم فَقَالَ يَا رَسُولَ اللَّهِ دُلَّنِي عَلَى عَمَلٍ إِذَا عَمِلْتُهُ دَخَلْتُ الْجَنَّةَ</p>
        <p align="center"></p>
        <p align="center">It is reported on the authority of Abu Huraira that a bedouin came to the Messenger of Allah (ﷺ) and said:
          Messenger of Allah, direct me to a deed by which I may be entitled to enter Paradise. </p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/faith4']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>


</div>
  </ion-content>
