<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center">The Book on Salat (Prayer)</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tirmidhi"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">َحَدَّثَنَا مَحْمُودُ بْنُ غَيْلاَنَ، حَدَّثَنَا أَبُو دَاوُدَ الطَّيَالِسِيُّ، قَالَ أَنْبَأَنَا شُعْبَةُ، عَنْ مُهَاجِرٍ أَبِي الْحَسَنِ، عَنْ زَيْدِ بْنِ وَهْبٍ، عَنْ أَبِي ذَرٍّ، أَنَّ رَسُولَ اللَّهِ صلى الله عليه وسلم كَانَ فِي سَفَرٍ وَمَعَهُ بِلاَلٌ فَأَرَادَ بِلاَلٌ أَنْ يُقِيمَ فَقَالَ ‏"‏ أَبْرِدْ ‏"‏ ‏.‏ ثُمَّ أَرَادَ أَنْ يُقِيمَ فَقَالَ رَسُولُ اللَّهِ صلى الله عليه وسلم ‏"‏ أَبْرِدْ فِي الظُّهْرِ ‏"‏ ‏.‏ قَالَ حَتَّى رَأَيْنَا فَىْءَ التُّلُولِ ثُمَّ أَقَامَ فَصَلَّى فَقَالَ رَسُولُ اللَّهِ صلى الله عليه وسلم ‏"‏ إِنَّ شِدَّةَ الْحَرِّ مِنْ فَيْحِ جَهَنَّمَ فَأَبْرِدُوا عَنِ الصَّلاَةِ ‏"‏ ‏.‏ قَالَ أَبُو عِيسَى هَذَا حَدِيثٌ حَسَنٌ صَحِيحٌ ‏.‏/p>
        <p align="center"></p>
        <p align="center">Abu Dharr narrated:
"Allah's Messenger was on a journey and Bilal was with him. So he wanted to call for the prayer, but he (the Prophet) said: 'Let it get cooler.' Then he wanted to call for the prayer, so Allah's Messenger said: 'Let it get to the cooler time of Zuhr.'" He (i.e., Abu Dharr) said: "Until we saw the shadows of the hillocks, then he commanded that the Iqamah be called and then led the people in prayer. Allah's Messenger said: 'The severity of heat is from the raging of Hell, so wait until it becomes cooler for the (Zuhr) prayer.'" </p>
        <p align="center"></p>
        
       
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">َحَدَّثَنَا عَلِيُّ بْنُ حُجْرٍ، حَدَّثَنَا إِسْمَاعِيلُ بْنُ جَعْفَرٍ، عَنِ الْعَلاَءِ بْنِ عَبْدِ الرَّحْمَنِ، أَنَّهُ دَخَلَ عَلَى أَنَسِ بْنِ مَالِكٍ فِي دَارِهِ بِالْبَصْرَةِ حِينَ انْصَرَفَ مِنَ الظُّهْرِ وَدَارُهُ بِجَنْبِ الْمَسْجِدِ فَقَالَ قُومُوا فَصَلُّوا الْعَصْرَ ‏.‏ قَالَ فَقُمْنَا فَصَلَّيْنَا فَلَمَّا انْصَرَفْنَا قَالَ سَمِعْتُ رَسُولَ اللَّهِ صلى الله عليه وسلم يَقُولُ ‏ "‏ تِلْكَ صَلاَةُ الْمُنَافِقِ يَجْلِسُ يَرْقُبُ الشَّمْسَ حَتَّى إِذَا كَانَتْ بَيْنَ قَرْنَىِ الشَّيْطَانِ قَامَ فَنَقَرَ أَرْبَعًا لاَ يَذْكُرُ اللَّهَ فِيهَا إِلاَّ قَلِيلاً ‏"‏ ‏.‏ قَالَ أَبُو عِيسَى هَذَا حَدِيثٌ حَسَنٌ صَحِيحٌ ‏. </p>
        <p align="center"></p>
        <p align="center">
          Al-Ala bin Abdur-Raman narrated that :
he visited Anas bin Malik in his home in Al Basrah after finishing Zuhr, and his home was next to the Masjid. So he said: 'Stand to pray Asr." He (Al-Ala) said: "So we stood to pray. When we were finished he (Anas) said: 'I heard Allah's Messenger saying: "That is the prayer of the hypocrite. He sits watching the sun, until when it is between the horns of the Shaitan he stands and pecks out four (units of prayer), not remembering Allah in them but a little." </p>
        <p align="center"></p>
        
        
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">حَدَّثَنَا مُحَمَّدُ بْنُ عَبْدِ الْمَلِكِ بْنِ أَبِي الشَّوَارِبِ، حَدَّثَنَا أَبُو عَوَانَةَ، عَنْ أَبِي بِشْرٍ، عَنْ بَشِيرِ بْنِ ثَابِتٍ، عَنْ حَبِيبِ بْنِ سَالِمٍ، عَنِ النُّعْمَانِ بْنِ بَشِيرٍ، قَالَ أَنَا أَعْلَمُ النَّاسِ، بِوَقْتِ هَذِهِ الصَّلاَةِ كَانَ رَسُولُ اللَّهِ صلى الله عليه وسلم يُصَلِّيهَا لِسُقُوطِ الْقَمَرِ لِثَالِثَةٍ ‏"‏ ‏.</p>
        <p align="center"></p>
        <p align="center">
          An-Nu'man bin Bashir said:
"I am the most knowledgeable among the people about the prescribed time of this prayer: Allah's Messenger would pray it when the moon set on the third (of the month)."</p>
        <p align="center"></p>
        
        
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">َََ حَدَّثَنَا قُتَيْبَةُ، حَدَّثَنَا مَرْوَانُ بْنُ مُعَاوِيَةَ الْفَزَارِيُّ، عَنْ أَبِي يَعْفُورٍ، عَنِ الْوَليِدِ بْنِ الْعَيْزَارِ، عَنْ أَبِي عَمْرٍو الشَّيْبَانِيِّ، أَنَّ رَجُلاً، قَالَ لاِبْنِ مَسْعُودٍ أَىُّ الْعَمَلِ أَفْضَلُ قَالَ سَأَلْتُ عَنْهُ رَسُولَ اللَّهِ صلى الله عليه وسلم فَقَالَ ‏"‏ الصَّلاَةُ عَلَى مَوَاقِيتِهَا ‏"‏ ‏.‏ قُلْتُ وَمَاذَا يَا رَسُولَ اللَّهِ قَالَ ‏"‏ وَبِرُّ الْوَالِدَيْنِ ‏"‏ ‏.‏ قُلْتُ وَمَاذَا يَا رَسُولَ اللَّهِ قَالَ ‏"‏ وَالْجِهَادُ فِي سَبِيلِ اللَّهِ ‏"‏ ‏.‏ قَالَ أَبُو عِيسَى وَهَذَا حَدِيثٌ حَسَنٌ صَحِيحٌ ‏.‏ وَقَدْ رَوَى الْمَسْعُودِيُّ وَشُعْبَةُ وَسُلَيْمَانُ هُوَ أَبُو إِسْحَاقَ الشَّيْبَانِيُّ وَغَيْرُ وَاحِدٍ عَنِ الْوَلِيدِ بْنِ الْعَيْزَارِ هَذَا الْحَدِيثَ ‏..</p>
        <p align="center"></p>
        <p align="center">Abu Amr Ash-Shaibani narrated:
"A man said to Ibn Mas'ud: 'Which deed is most virtuous?' He said: 'I asked Allah's Messenger (that). He said: "Salat at the beginning of its time." I asked him: "What is after that O Messenger of Allah?" He said: "Being dutiful to one's parents." I said: "What is after that [O Messenger of Allah]?" He said: "Jihad in the Way of Allah." </p>
        <p align="center"></p>
        
        
      </ion-card-content>
    </ion-card>


</div>
  </ion-content>