<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center"></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="zakat"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
            
        
        
        <p align="center">
          حَدَّثَنَا مُحَمَّدُ بْنُ إِدْرِيسَ الرَّازِيُّ، حَدَّثَنَا عَمْرُو بْنُ الرَّبِيعِ بْنِ طَارِقٍ، حَدَّثَنَا يَحْيَى بْنُ أَيُّوبَ، عَنْ عُبَيْدِ اللَّهِ بْنِ أَبِي جَعْفَرٍ، أَنَّ مُحَمَّدَ بْنَ عَمْرِو بْنِ عَطَاءٍ، أَخْبَرَهُ عَنْ عَبْدِ اللَّهِ بْنِ شَدَّادِ بْنِ الْهَادِ، أَنَّهُ قَالَ دَخَلْنَا عَلَى عَائِشَةَ زَوْجِ النَّبِيِّ صلى الله عليه وسلم فَقَالَتْ دَخَلَ عَلَىَّ رَسُولُ اللَّهِ صلى الله عليه وسلم فَرَأَى فِي يَدِي فَتَخَاتٍ مِنْ وَرِقٍ فَقَالَ  مَا هَذَا يَا عَائِشَةُ  فَقُلْتُ صَنَعْتُهُنَّ أَتَزَيَّنُ لَكَ يَا رَسُولَ اللَّهِ  قَالَ  أَتُؤَدِّينَ زَكَاتَهُنَّ  قُلْتُ لاَ أَوْ مَا شَاءَ اللَّهُ  قَالَ هُوَ حَسْبُكِ مِنَ النَّارِ
        </p>
        <p align="center"></p>
        <p align="center">Narrated Abdallah bin Shaddad bin Al Had :
          We entered upon Aishah, wife of the Prophet (ﷺ). She said The Apostle of Allaah (ﷺ) entered upon me and saw two silver rings in my hand. He asked What is this, Aishah? I said I have made two ornaments myself for you, Messenger of Allah (ﷺ). He asked Do you pay zakat on them? I said No or I said Whatever Allah willed. He said this is sufficient for you (to take you) to the Hell fire.
          
           </p>
        <p align="center"></p>
        
        
      </ion-card-content>
    </ion-card>
</div>
  </ion-content>
