<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center">The Book of Prayer for Rain(Kitab al-Istisqa')</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="biodata"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        
        <p align="center">َدَّثَنَا أَحْمَدُ بْنُ مُحَمَّدِ بْنِ ثَابِتٍ الْمَرْوَزِيُّ، حَدَّثَنَا عَبْدُ الرَّزَّاقِ، أَخْبَرَنَا مَعْمَرٌ، عَنِ الزُّهْرِيِّ، عَنْ عَبَّادِ بْنِ تَمِيمٍ، عَنْ عَمِّهِ، أَنَّ رَسُولَ اللَّهِ صلى الله عليه وسلم خَرَجَ بِالنَّاسِ لِيَسْتَسْقِيَ</p>
        <p align="center"></p>
        <p align="center">
         
Abbad b. Tamim (al-Muzini) reported on the authority of his uncle:
The Messenger of Allah (ﷺ) took the people out (to the place of prayer) and prayed for rain. He led them in two rak'ahs of prayer </p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/rain1']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
          
        <p align="center">َدَّثَنَا النُّفَيْلِيُّ، وَعُثْمَانُ بْنُ أَبِي شَيْبَةَ، نَحْوَهُ قَالاَ حَدَّثَنَا حَاتِمُ بْنُ إِسْمَاعِيلَ، حَدَّثَنَا هِشَامُ بْنُ إِسْحَاقَ بْنِ عَبْدِ اللَّهِ بْنِ كِنَانَةَ، قَالَ أَخْبَرَنِي أَبِي قَالَ، أَرْسَلَنِي الْوَلِيدُ بْنُ عُتْبَةَ - قَالَ عُثْمَانُ ابْنُ عُقْبَةَ وَكَانَ أَمِيرَ الْمَدِينَةِ - إِلَى ابْنِ عَبَّاسٍ أَسْأَلُهُ عَنْ صَلاَةِ، رَسُولِ اللَّهِ صلى الله عليه وسلم فِي الاِسْتِسْقَاءِ فَقَالَ خَرَجَ رَسُولُ اللَّهِ صلى الله عليه وسلم مُتَبَذِّلاً مُتَوَاضِعًا مُتَضَرِّعًا

        </p>
        <p align="center"></p>
        <p align="center">
          Narrated Abdullah ibn Abbas:
Ishaq ibn Abdullah ibn Kinanah reported: Al-Walid ibn Utbah or (according to the version of Uthman) al-Walid ibn Uqbah, the then governor of Medina,</p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/rain2']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        
        <p align="center">حَدَّثَنَا مُحَمَّدُ بْنُ سَلَمَةَ الْمُرَادِيُّ، أَخْبَرَنَا ابْنُ وَهْبٍ، عَنْ حَيْوَةَ، وَعُمَرَ بْنِ مَالِكٍ، عَنِ ابْنِ الْهَادِ، عَنْ مُحَمَّدِ بْنِ إِبْرَاهِيمَ، عَنْ عُمَيْرٍ، مَوْلَى بَنِي آبِي اللَّحْمِ أَنَّهُ رَأَى النَّبِيَّ صلى الله عليه وسلم يَسْتَسْقِي عِنْدَ أَحْجَارِ
        </p>
        <p align="center"></p>
        <p align="center">
          Narrated Umayr, the client of AbulLahm:
          Umayr saw the Prophet (ﷺ) praying for rain at Ahjar az-Zayt near az-Zawra', standing, making supplication </p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/rain3']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
       
        <p align="center">
          َدَّثَنَا ابْنُ أَبِي خَلَفٍ، حَدَّثَنَا مُحَمَّدُ بْنُ عُبَيْدٍ، حَدَّثَنَا مِسْعَرٌ، عَنْ يَزِيدَ الْفَقِيرِ، عَنْ جَابِرِ بْنِ عَبْدِ اللَّهِ، قَالَ أَتَتِ النَّبِيَّ صلى الله عليه وسلم بَوَاكِي فَقَالَ 
        </p>
        <p align="center"></p>
        <p align="center">
          Narrated Jabir ibn Abdullah:
          The people came to the Prophet (ﷺ) weeping (due to drought). He said (making supplication): O Allah! give us rain which will replenish us  </p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/rain4']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>


</div>
  </ion-content>
