<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center">The Book of Mosques and Places of Prayers</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="biodata"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">َدَّثَنِي أَبُو كَامِلٍ الْجَحْدَرِيُّ، حَدَّثَنَا عَبْدُ الْوَاحِدِ، حَدَّثَنَا الأَعْمَشُ، ح قَالَ وَحَدَّثَنَا أَبُو بَكْرِ بْنُ أَبِي شَيْبَةَ، وَأَبُو كُرَيْبٍ قَالاَ حَدَّثَنَا أَبُو مُعَاوِيَةَ، عَنِ الأَعْمَشِ، عَنْ إِبْرَاهِيمَ التَّيْمِيِّ، عَنْ أَبِيهِ، عَنْ أَبِي ذَرٍّ، قَالَ قُلْتُ يَا رَسُولَ اللَّهِ أَىُّ مَسْجِدٍ وُضِعَ فِي الأَرْضِ أَوَّلُ قَالَ  الْمَسْجِدُ الْحَرَامُ  </p>
        <p align="center"></p>
        <p align="center">Abu Dharr reported: I said: Messenger of Allah, which mosque was set up first on the earth? He said: Al-Masjid al-Haram (the sacred) </p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/mosq1']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">َحَدَّثَنِي عَلِيُّ بْنُ حُجْرٍ السَّعْدِيُّ، أَخْبَرَنَا عَلِيُّ بْنُ مُسْهِرٍ، حَدَّثَنَا الأَعْمَشُ، عَنْ إِبْرَاهِيمَ بْنِ يَزِيدَ التَّيْمِيِّ، قَالَ كُنْتُ  </p>
        <p align="center"></p>
        <p align="center">
          Ibrahim b. Yazid al-Tayml reported:
          I used to read the Qur'an with my father in the vestibule (before the door of the mosque). </p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/mosq2']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">َدَّثَنَا يَحْيَى بْنُ يَحْيَى، أَخْبَرَنَا هُشَيْمٌ، عَنْ سَيَّارٍ، عَنْ يَزِيدَ الْفَقِيرِ، عَنْ جَابِرِ بْنِ عَبْدِ اللَّهِ الأَنْصَارِيِّ، قَالَ قَالَ رَسُولُ اللَّهِ صلى الله عليه وسلم  </p>
        <p align="center"></p>
        <p align="center">
          Jabir b. 'Abdullah al-Ansari reported:
          The Prophet (ﷺ) said: I have been conferred upon five (things) which were not granted to anyone before me (and these are): </p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/mosq3']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">َََ َحَدَّثَنَا يَحْيَى بْنُ أَيُّوبَ، وَقُتَيْبَةُ بْنُ سَعِيدٍ، وَعَلِيُّ بْنُ حُجْرٍ، قَالُوا حَدَّثَنَا إِسْمَاعِيلُ، - وَهُوَ ابْنُ جَعْفَرٍ - عَنِ الْعَلاَءِ، عَنْ أَبِيهِ، عَنْ أَبِي هُرَيْرَةَ، أَنَّ رَسُولَ اللَّهِ صلى الله عليه وسلم قَالَ  فُضِّلْتُ عَلَى الأَنْبِيَاءِ بِسِتّ</p>
        <p align="center"></p>
        <p align="center">Abu Huraira reported that the Messenger of Allah (may peace be upon hlmg) said:
          I have been given superiority over </p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/mosq4']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>


</div>
  </ion-content>
