<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center">Forum</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card>
    <video
    width="100%"
    controls="controls"
    preload="metadata"
    webkit-playsinline="webkit-playsinline"
    class="videoplayer">
    <source src="assets/vid2.mp4" type="video/mp4"/>
    </video>
  </ion-card>

  <div id="container">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title> Why Allah test us?  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">Muslim or Non-Muslim, each one of us inevitably faces trials in our lives. Life is not a bed of roses for anyone. There are people who struggle with poverty, there are people who struggle with their health and then there are those who struggle with their family. A common question which everyone asks in the middle of the tempest is this  why is Allah making me go through it? Why cannot it always be merry? What did I do to deserve this? Why Allah tests us?

          Lack of answers can sometimes distance people from Allah. It can lead to disturbing thoughts like “Allah does not love me” or even worse  “Allah is not fair to me”. But Allah is Al-Adl  The Just, and He is Al-Rahman, The Most Merciful. There is wisdom behind the situations He places us in. All we need to do is be patient. So in this brief article, we are going to explore 4 reasons why Allah tests us.
          
          Lets roll! </p>
          <p align="center"></p>
          <p align="center"></p>
          <p align="center"></p>
          <strong >Tests bring out the best/worst in us</strong>
          <p align="center"></p>
          <p align="center"></p>
          <p align="center"></p>
           <p align="center">Tests are the means by which Allah distinguishes between us because they bring out the best or worst in us. How we  help to expose faith and lack of faith.  Allah states in the Quran:

            Do the people think that they will be left to say, “We believe” and they will not be tried? But We have certainly tried those before them, and Allah will surely make evident those who are truthful, and He will surely make evident those who are false. (Surah 29: 2-3)





            </p>
            <p align="center"></p>
            <p align="center"></p>
            <p align="center"></p>
            <strong>These tests are meant to purify us</strong>
            <p align="center"></p>
            <p align="center"></p>
            <p align="center"></p>
        <p align="center">The Prophet (peace be upon him) said:“No calamity befalls a Muslim but that Allah expiates some of his sins because of it, even if it were the prick of a thorn.” 
          (Bukhari, Muslim).
          
          Tests are not a punishment from Allah. They are a part of His infinite mercy. Through them, He eliminated some of our mistakes and sins. And ofcourse, these trials are nothing in comparison to those of the hereafter.</p>
        <p align="center"></p>
        <p align="center"></p>
        <p align="center"></p>
        <p align="center"></p>
        <strong>Trials can replace misfortunes</strong>
        <p align="center"></p>
        <p align="center"></p>
        <p align="center">If only we knew what misfortunes Allah protects us from, we will never miss a prayer and never want to lift our head from prostration. The tests that grieve us can be a form of protection from something worse that might have befallen us. 

          Allah tells us: “Perhaps you dislike a thing and Allah makes therein much good.”(Surah 4: 19).
          
          
          Your trial can be a blessing in disguise. Be grateful.</p>
          <p align="center"></p>
          <p align="center"></p>
          <strong>Trials and tribulations strengthen our faith</strong>
          <p align="center"></p>
        <p align="center"></p>
        <p align="center">The Prophet (peace be upon him) said:
          “The people who face the most difficult tests are the prophets, then the righteous, then those following them in degree. A person is tried according to his religion. So if there is firmness in his religion, then the trial is increased, and if there is a weakness, then it is lightened. Verily a trial remains with a servant until he walks the earth having no sin left upon him”
          (Bukhari).
          The next time you complain about being given a tough situation, think about this Hadith.</p>
        
        
      </ion-card-content>
    </ion-card>
</div>
  </ion-content>