<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center"></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="faith"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">3. حَدَّثَنَا يَحْيَى بْنُ يَحْيَى التَّمِيمِيُّ، أَخْبَرَنَا أَبُو الأَحْوَصِ، ح وَحَدَّثَنَا أَبُو بَكْرِ بْنُ أَبِي شَيْبَةَ، حَدَّثَنَا أَبُو الأَحْوَصِ، عَنْ أَبِي إِسْحَاقَ، عَنْ مُوسَى بْنِ طَلْحَةَ، عَنْ أَبِي أَيُّوبَ، قَالَ جَاءَ رَجُلٌ إِلَى النَّبِيِّ صلى الله عليه وسلم فَقَالَ دُلَّنِي عَلَى عَمَلٍ أَعْمَلُهُ يُدْنِينِي مِنَ الْجَنَّةِ وَيُبَاعِدُنِي مِنَ النَّارِ  قَالَ  تَعْبُدُ اللَّهَ لاَ تُشْرِكُ بِهِ شَيْئًا وَتُقِيمُ الصَّلاَةَ وَتُؤْتِي الزَّكَاةَ وَتَصِلُ ذَا رَحِمِكَ  فَلَمَّا أَدْبَرَ قَالَ رَسُولُ اللَّهِ صلى الله عليه وسلم  إِنْ تَمَسَّكَ بِمَا أُمِرَ بِهِ دَخَلَ الْجَنَّةَ  وَفِي رِوَايَةِ ابْنِ أَبِي شَيْبَةَ  إِنْ تَمَسَّكَ بِهِ</p>
           <p align="center"></p>
        <p align="center">It is narrated on the authority of Abu Ayyub that a man came to the Prophet (ﷺ) and said:
          Direct me to a deed which draws me near to Paradise and takes me away from the Fire (of Hell). Upon this he (the Holy Prophet) said: You worship Allah and never associate anything with Him, establish prayer, and pay Zakat, and do good to your kin. When he turned his back, the Messenger of Allah (ﷺ) remarked: If he adheres to what he has been ordered to do, he would enter Paradise.
          addressing the bedouin said: (Repeat) whatever you have uttered. He (the bedouin) repeated that. Upon this the Apostle (ﷺ) remarked: The deed which can draw you near to Paradise and take you away from Hell is, that you worship Allah and associate none with Him, and you establish prayer and pay Zakat, and do good to your kin. After having uttered these words, the Prophet asked the bedouin to release the nosestring of his she-camel.
           </p>
        <p align="center"></p>
        
        
      </ion-card-content>
    </ion-card>
</div>
  </ion-content>
