<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center"></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="revelation"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">2.حَدَّثَنَا عَبْدُ اللَّهِ بْنُ يُوسُفَ قَالَ: أَخْبَرَنَا مَالِكٌ عَنْ هِشَامِ بْنِ عُرْوَةَ عَنْ أَبِيهِ عَنْ عَائِشَةَ أُمِّ الْمُؤْمِنِينَ رَضِيَ اللَّهُ عَنْهَا أَنَّ الْحَارِثَ بْنَ هِشَامٍ رَضِيَ اللَّهُ عَنْهُ سَأَلَ رَسُولَ اللَّهِ صَلَّى اللَّهُ عَلَيْهِ وَسَلَّمَ فَقَالَ يَا رَسُولَ اللَّهِ كَيْفَ يَأْتِيكَ الْوَحْيُ فَقَالَ رَسُولُ اللَّهِ صَلَّى اللَّهُ عَلَيْهِ وَسَلَّمَ: ((أَحْيَانًا يَأْتِينِي مِثْلَ صَلْصَلَةِ الْجَرَسِ- وَهُوَ أَشَدُّهُ عَلَيَّ- فَيُفْصَمُ عَنِّي وَقَدْ وَعَيْتُ عَنْهُ مَا قَالَ، وَأَحْيَانًا يَتَمَثَّلُ لِيَ الْمَلَكُ رَجُلاً فَيُكَلِّمُنِي فَأَعِي مَا يَقُولُ)). قَالَتْ عَائِشَةُ رَضِيَ اللَّهُ عَنْهَا وَلَقَدْ رَأَيْتُهُ يَنْزِلُ عَلَيْهِ الْوَحْيُ فِي الْيَوْمِ الشَّدِيدِ الْبَرْدِ، فَيَفْصِمُ عَنْهُ وَإِنَّ جَبِينَهُ لَيَتَفَصَّدُ عَرَقًا.
          <p align="center"></p>
        <p align="center">It has been narrated to us that Abdullah ibn Yusuf said, Malik from Hisham ibn 'Urwah from his father from Aisha, the Mother of the Believers, told us that Al Harith ibn Hisham asked the Prophet sallallaahu' alaihi wasallam: "O Messenger of Allah, how did the revelation come down to you? " So the Prophet sallallaahu 'alaihi wasallam replied: "Sometimes it comes to me like the sound of a bell ringing and this way is the hardest for me, then stopped so that I can understand what is being conveyed. And sometimes the Angel comes like a man and speaks to me then I follow what he said ". She said: "Indeed, I saw the revelation to Him sallallaahu 'alaihi wasallam on a very cold day and then stopped, and I saw his forehead shed sweat." </p>
        <p align="center"></p>
        
        
      </ion-card-content>
    </ion-card>
</div>
  </ion-content>
