<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center"></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="rain"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
            
        
        
      
        <p align="center">
          حَدَّثَنَا مُحَمَّدُ بْنُ سَلَمَةَ الْمُرَادِيُّ، أَخْبَرَنَا ابْنُ وَهْبٍ، عَنْ حَيْوَةَ، وَعُمَرَ بْنِ مَالِكٍ، عَنِ ابْنِ الْهَادِ، عَنْ مُحَمَّدِ بْنِ إِبْرَاهِيمَ، عَنْ عُمَيْرٍ، مَوْلَى بَنِي آبِي اللَّحْمِ أَنَّهُ رَأَى النَّبِيَّ صلى الله عليه وسلم يَسْتَسْقِي عِنْدَ أَحْجَارِ الزَّيْتِ قَرِيبًا مِنَ الزَّوْرَاءِ قَائِمًا يَدْعُو يَسْتَسْقِي رَافِعًا يَدَيْهِ قِبَلَ وَجْهِهِ لاَ يُجَاوِزُ بِهِمَا رَأْسَهُ 
        </p>
        <p align="center"></p>
        <p align="center">Narrated Umayr, the client of AbulLahm:
          Umayr saw the Prophet (ﷺ) praying for rain at Ahjar az-Zayt near az-Zawra', standing, making supplication, praying for rain and raising his hands in front of his face, but not lifting them above his head.
          
           </p>
        <p align="center"></p>
        
        
      </ion-card-content>
    </ion-card>
</div>
  </ion-content>
