<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center">Sahih Al-Bukhari </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="biodata"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <ion-card color="dark">
      <ion-card-header>
       
      </ion-card-header>
      <ion-card-content>
        
        <ion-button color="success" [routerLink]="['/revelation']">
          <ion-icon  ion-icon name="arrow-forward-outline"></ion-icon>
         Revelation
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
       
      </ion-card-header>
      <ion-card-content>
        
        <ion-button color="success" [routerLink]="['/belief']" >
           <ion-icon ion-icon name="arrow-forward-outline"></ion-icon>
          2. Belief(8-58)
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
       
      </ion-card-header>
      <ion-card-content>
        
        <ion-button color="success" [routerLink]="['/knowledge']" >
           <ion-icon  ion-icon name="arrow-forward-outline"></ion-icon>
          Knowledge(59-134)
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
       
      </ion-card-header>
      <ion-card-content>
        
        <ion-button color="success" [routerLink]="['/ablution']" >
           <ion-icon  ion-icon name="arrow-forward-outline"></ion-icon>
          Ablution(135-247)
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
       
      </ion-card-header>
      <ion-card-content>
        
        <ion-button color="success" [routerLink]="['/bathing']" >
           <ion-icon  ion-icon name="arrow-forward-outline"></ion-icon>
          Bathing(248-293)
         </ion-button>
      </ion-card-content>
    </ion-card>
</div>
  </ion-content>
