<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center"></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="prayers"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p align="center">َدَّثَنَا مُحَمَّدُ بْنُ عَبْدِ اللَّهِ بْنِ نُمَيْرٍ، حَدَّثَنَا عَبْدَةُ، عَنْ طَلْحَةَ بْنِ يَحْيَى، عَنْ عَمِّهِ، قَالَ كُنْتُ عِنْدَ مُعَاوِيَةَ بْنِ أَبِي سُفْيَانَ فَجَاءَهُ الْمُؤَذِّنُ يَدْعُوهُ إِلَى الصَّلاَةِ فَقَالَ مُعَاوِيَةُ سَمِعْتُ رَسُولَ اللَّهِ صلى الله عليه وسلم يَقُولُ  الْمُؤَذِّنُونَ أَطْوَلُ النَّاسِ أَعْنَاقًا يَوْمَ الْقِيَامَةِ  وَحَدَّثَنِيهِ إِسْحَاقُ بْنُ مَنْصُورٍ، أَخْبَرَنَا أَبُو عَامِرٍ، حَدَّثَنَا سُفْيَانُ، عَنْ طَلْحَةَ بْنِ يَحْيَى، عَنْ عِيسَى بْنِ طَلْحَةَ، قَالَ سَمِعْتُ مُعَاوِيَةَ، يَقُولُ قَالَ رَسُولُ اللَّهِ صلى الله عليه وسلم بِمِثْلِهِ</p>
         
           <p align="center"></p>
        <p align="center">
          Yahya narrated it on the authority of his uncle that he had been sitting in the company of Mu'awiya b. Abu Sufyan when the Mu'adhdhin called (Muslims) to prayer. Mu'awiya said:
I heard the Messenger of Allah (ﷺ) saying The Mu'adhdhins will have the longest necks on the Day of Resurrection.
           </p>
        <p align="center"></p>
        
        
      </ion-card-content>
    </ion-card>
</div>
