<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center">Sunan Ibn Majah</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="biodata"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <ion-card color="dark">
      <ion-card-header>
       
      </ion-card-header>
      <ion-card-content>
        
        <ion-button color="success" [routerLink]="['/purifi']">
          <ion-icon  ion-icon name="arrow-forward-outline"></ion-icon>
         The Book of Purification and its Sunnah
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
       
      </ion-card-header>
      <ion-card-content>
        
        <ion-button color="success" [routerLink]="['/adhan']" >
           <ion-icon ion-icon name="arrow-forward-outline"></ion-icon>
          The Book of the adhan and the Sunnah Regarding It
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
       
      </ion-card-header>
      <ion-card-content>
        
        <ion-button color="success" [routerLink]="['/pra']" >
           <ion-icon  ion-icon name="arrow-forward-outline"></ion-icon>
          The Book of the Prayer
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
       
      </ion-card-header>
      <ion-card-content>
        
        <ion-button color="success" [routerLink]="['/sun']" >
           <ion-icon  ion-icon name="arrow-forward-outline"></ion-icon>
          The Book of the Sunnah
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
       
      </ion-card-header>
      <ion-card-content>
        
        <ion-button color="success" [routerLink]="['/mosq']" >
           <ion-icon  ion-icon name="arrow-forward-outline"></ion-icon>
          The Book On The Mosques And The Congregations
         </ion-button>
      </ion-card-content>
    </ion-card>
</div>
  </ion-content>