<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center">Drink</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="lifehadith"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        
        <p align="center">حَدَّثَنَا عَبْدُ اللَّهِ بْنُ يُوسُفَ، أَخْبَرَنَا مَالِكٌ، عَنْ نَافِعٍ، عَنْ عَبْدِ اللَّهِ بْنِ عُمَرَ ـ رضى الله عنهما ـ أَنَّ رَسُولَ اللَّهِ صلى الله عليه وسلم قَالَ  مَنْ شَرِبَ الْخَمْرَ فِي الدُّنْيَا، ثُمَّ لَمْ يَتُبْ مِنْهَا، حُرِمَهَا فِي الآخِرَةِ  

           </p>
        <p align="center"></p>
        <p align="center">
          Narrated Ibn `Umar:

Allah's Messenger (ﷺ) said, "Whoever drinks alcoholic drinks in the world and does not repent (before dying), will be deprived of it in the Hereafter." </p>
        <p align="center"></p>
        
       
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
          
        <p align="center"> حَدَّثَنَا أَبُو الْيَمَانِ، أَخْبَرَنَا شُعَيْبٌ، عَنِ الزُّهْرِيِّ، أَخْبَرَنِي سَعِيدُ بْنُ الْمُسَيَّبِ، أَنَّهُ سَمِعَ أَبَا هُرَيْرَةَ ـ رضى الله عنه ـ أَنَّ رَسُولَ اللَّهِ صلى الله عليه وسلم أُتِيَ لَيْلَةَ أُسْرِيَ بِهِ بِإِيلِيَاءَ بِقَدَحَيْنِ مِنْ خَمْرٍ، وَلَبَنٍ فَنَظَرَ إِلَيْهِمَا، ثُمَّ أَخَذَ اللَّبَنَ، فَقَالَ جِبْرِيلُ الْحَمْدُ لِلَّهِ الَّذِي هَدَاكَ لِلْفِطْرَةِ، وَلَوْ أَخَذْتَ الْخَمْرَ غَوَتْ أُمَّتُكَ تَابَعَهُ مَعْمَرٌ وَابْنُ الْهَادِ وَعُثْمَانُ بْنُ عُمَرَ وَالزُّبَيْدِيُّ عَنِ الزُّهْرِيِّ

        </p>
        <p align="center"></p>
        <p align="center">
          Narrated Abu Huraira:

On the night Allah's Messenger (ﷺ) was taken on a night journey (Miraj) two cups, one containing wine and the other milk, were presented to him at Jerusalem. He looked at it and took the cup of milk. Gabriel said, "Praise be to Allah Who guided you to Al-Fitra (the right path); if you had taken (the cup of) wine, your nation would have gone astray.".</p>
        <p align="center"></p>
        
        
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        
        <p align="center">
          حَدَّثَنَا الْحَسَنُ بْنُ صَبَّاحٍ، حَدَّثَنَا مُحَمَّدُ بْنُ سَابِقٍ، حَدَّثَنَا مَالِكٌ ـ هُوَ ابْنُ مِغْوَلٍ ـ عَنْ نَافِعٍ، عَنِ ابْنِ عُمَرَ ـ رضى الله عنهما ـ قَالَ لَقَدْ حُرِّمَتِ الْخَمْرُ، وَمَا بِالْمَدِينَةِ مِنْهَا شَىْءٌ  
        </p>
        <p align="center"></p>
        <p align="center">
          Narrated Ibn `Umar:

"Alcoholic drinks were prohibited (by Allah) when there was nothing of it (special kind of wine) in Medina. </p>
        <p align="center"></p>
        
      
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
       
        <p align="center">
          حَدَّثَنَا أَبُو نُعَيْمٍ، حَدَّثَنَا سُفْيَانُ، عَنْ عَاصِمٍ الأَحْوَلِ، عَنِ الشَّعْبِيِّ، عَنِ ابْنِ عَبَّاسٍ، قَالَ شَرِبَ النَّبِيُّ صلى الله عليه وسلم قَائِمًا مِنْ زَمْزَمَ
        </p>
        <p align="center"></p>
        <p align="center">Narrated Ibn `Abbas:

          The Prophet (ﷺ) drank Zamzam (water) while standing.  </p>
        <p align="center"></p>
        
        
      </ion-card-content>
    </ion-card>


</div>
  </ion-content>