<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center">The Book of Prayers</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="biodata"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">َدَّثَنَا إِسْحَاقُ بْنُ إِبْرَاهِيمَ الْحَنْظَلِيُّ، حَدَّثَنَا مُحَمَّدُ بْنُ بَكْرٍ، ح وَحَدَّثَنَا مُحَمَّدُ بْنُ رَافِعٍ، حَدَّثَنَا عَبْدُ الرَّزَّاقِ، قَالاَ أَخْبَرَنَا ابْنُ جُرَيْجٍ، ح وَحَدَّثَنِي هَارُونُ بْنُ عَبْدِ اللَّهِ، - وَاللَّفْظُ لَهُ - قَالَ حَدَّثَنَا حَجَّاجُ بْنُ مُحَمَّدٍ، قَالَ قَالَ ابْنُ جُرَيْجٍ أَخْبَرَنِي نَافِعٌ، مَوْلَى ابْنِ عُمَرَ عَنْ عَبْدِ اللَّهِ بْنِ عُمَرَ، أَنَّهُ قَالَ كَانَ الْمُسْلِمُونَ حِينَ قَدِمُوا الْمَدِينَةَ</p>
        <p align="center"></p>
        <p align="center">Ibn Umar reported:
          When the Muslims came to Medina, they gathered and sought to know the time of prayer but no one summoned them. </p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/pray1']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">َحَدَّثَنِي زُهَيْرُ بْنُ حَرْبٍ، حَدَّثَنَا يَحْيَى، - يَعْنِي ابْنَ سَعِيدٍ - عَنْ حَمَّادِ بْنِ سَلَمَةَ، حَدَّثَنَا ثَابِتٌ، عَنْ أَنَسِ بْنِ مَالِكٍ، قَالَ كَانَ رَسُولُ اللَّهِ صلى الله عليه وسلم يُغِيرُ إِذَا طَلَعَ الْفَجْرُ وَكَانَ يَسْتَمِعُ الأَذَانَ فَإِنْ سَمِعَ أَذَانًا أَمْسَكَ وَإِلاَّ أَغَارَ فَسَمِعَ رَجُلاً يَقُولُ اللَّهُ أَكْبَرُ اللَّهُ أَكْبَرُ  فَقَالَ رَسُولُ اللَّهِ صلى الله عليه وسلم  عَلَى الْفِطْرَة  </p>
        <p align="center"></p>
        <p align="center">
          Anas b. Malik reported:
          The Messenger of Allah (ﷺ) used to attack the enemy when it was dawn. He would listen to the Adhan; so if he heard an Adhan, he stopped, otherwise made an attack. </p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/pray2']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">َدَّثَنِي إِسْحَاقُ بْنُ مَنْصُورٍ، أَخْبَرَنَا أَبُو جَعْفَرٍ، مُحَمَّدُ بْنُ جَهْضَمٍ الثَّقَفِيُّ حَدَّثَنَا إِسْمَاعِيلُ بْنُ جَعْفَرٍ، عَنْ عُمَارَةَ بْنِ غَزِيَّةَ، عَنْ خُبَيْبِ بْنِ عَبْدِ الرَّحْمَنِ بْنِ إِسَافٍ، عَنْ حَفْصِ بْنِ عَاصِمِ بْنِ عُمَرَ بْنِ الْخَطَّابِ، عَنْ أَبِيهِ، عَنْ جَدِّهِ، عُمَرَ بْنِ الْخَطَّابِ قَالَ قَالَ رَسُولُ اللَّهِ صلى الله عليه وسلم  إِذَا قَالَ الْمُؤَذِّنُ اللَّهُ أَكْبَرُ اللَّهُ أَكْبَرُ  فَقَالَ أَحَدُكُمُ اللَّهُ أَكْبَرُ اللَّهُ أَكْبَرُ   </p>
        <p align="center"></p>
        <p align="center">
          'Umar b. al-Khattab reported:
The Messenger of Allah (ﷺ) said: When the Mu'adhdhin says: Allah is the Greatest, Allah is the Greatest, and one of you should make this response: Allah is the Greatest, Allah is the Greatest; </p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/pray3']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">َََ َدَّثَنَا مُحَمَّدُ بْنُ عَبْدِ اللَّهِ بْنِ نُمَيْرٍ، حَدَّثَنَا عَبْدَةُ، عَنْ طَلْحَةَ بْنِ يَحْيَى، عَنْ عَمِّهِ، قَالَ كُنْتُ عِنْدَ مُعَاوِيَةَ بْنِ أَبِي سُفْيَانَ فَجَاءَهُ الْمُؤَذِّنُ يَدْعُوهُ إِلَى الصَّلاَةِ </p>
        <p align="center"></p>
        <p align="center">Yahya narrated it on the authority of his uncle that he had been sitting in the company of Mu'awiya b. Abu Sufyan when the Mu'adhdhin called (Muslims) to prayer. </p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/pray4']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>


</div>
  </ion-content>
