<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center">Zakat(Kitab al-zakat)</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="biodata"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        
        <p align="center">حَدَّثَنَا مُحَمَّدُ بْنُ إِدْرِيسَ الرَّازِيُّ، حَدَّثَنَا عَمْرُو بْنُ الرَّبِيعِ بْنِ طَارِقٍ، حَدَّثَنَا يَحْيَى بْنُ أَيُّوبَ، عَنْ عُبَيْدِ اللَّهِ بْنِ أَبِي جَعْفَرٍ، أَنَّ مُحَمَّدَ بْنَ عَمْرِو بْنِ عَطَاءٍ، أَخْبَرَهُ عَنْ عَبْدِ اللَّهِ بْنِ شَدَّادِ بْنِ الْهَادِ، أَنَّهُ قَالَ دَخَلْنَا عَلَى عَائِشَةَ زَوْجِ النَّبِيِّ صلى الله عليه وسلم فَقَالَتْ دَخَلَ عَلَىَّ رَسُولُ اللَّهِ صلى الله عليه وسلم فَرَأَى فِي يَدِي فَتَخَاتٍ مِنْ وَرِقٍ فَقَالَ  مَا هَذَا يَا عَائِشَةُ  فَقُلْتُ صَنَعْتُهُنَّ

        </p>
        <p align="center"></p>
        <p align="center">
   Narrated Abdallah bin Shaddad bin Al Had :
We entered upon Aishah, wife of the Prophet (ﷺ). She said The Apostle of Allaah (ﷺ) entered upon me and saw two silver rings in my hand. </p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/zak1']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
          
        <p align="center">َدَّثَنَا سُلَيْمَانُ بْنُ دَاوُدَ الْمَهْرِيُّ، أَخْبَرَنَا ابْنُ وَهْبٍ، أَخْبَرَنِي جَرِيرُ بْنُ حَازِمٍ، وَسَمَّى، آخَرَ عَنْ أَبِي إِسْحَاقَ، عَنْ عَاصِمِ بْنِ ضَمْرَةَ، وَالْحَارِثِ الأَعْوَرِ، عَنْ عَلِيٍّ، - رضى الله عنه - عَنِ النَّبِيِّ صلى الله عليه وسلم بِبَعْضِ أَوَّلِ هَذَا الْحَدِيثِ قَالَ  فَإِذَا كَانَتْ لَكَ مِائَتَا دِرْهَمٍ وَحَالَ عَلَيْهَا الْحَوْلُ فَفِيهَا خَمْسَةُ دَرَاهِمَ وَلَيْسَ عَلَيْكَ شَىْءٌ - يَعْنِي فِي الذَّهَبِ - حَتَّى يَكُونَ لَكَ عِشْرُونَ دِينَارًا فَإِذَا كَانَ لَكَ عِشْرُونَ دِينَارًا وَحَالَ عَلَيْهَا الْحَوْلُ فَفِيهَا نِصْفُ دِينَارٍ فَمَا زَادَ فَبِحِسَابِ ذَلِكَ

        </p>
        <p align="center"></p>
        <p align="center">
          Narrated Ali ibn AbuTalib:
The Prophet (ﷺ) said: "When you possess two hundred dirhams and one year passes on them, five dirhams are payable.</p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/zak2']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        
        <p align="center">
          َدَّثَنَا عَمْرُو بْنُ عَوْنٍ، أَخْبَرَنَا أَبُو عَوَانَةَ، عَنْ أَبِي إِسْحَاقَ، عَنْ عَاصِمِ بْنِ ضَمْرَةَ، عَنْ عَلِيٍّ، عَلَيْهِ السَّلاَمُ قَالَ قَالَ رَسُولُ اللَّهِ صلى الله عليه وسلم  " قَدْ عَفَوْتُ عَنِ الْخَيْلِ وَالرَّقِيقِ فَهَاتُوا صَدَقَةَ الرِّقَةِ مِنْ كُلِّ أَرْبَعِينَ دِرْهَمًا دِرْهَمٌ وَلَيْسَ فِي تِسْعِينَ وَمِائَةٍ شَىْءٌ فَإِذَا بَلَغَتْ مِائَتَيْنِ فَفِيهَا خَمْسَةُ دَرَاهِمَ  قَالَ أَبُو دَاوُدَ رَوَى هَذَا الْحَدِيثَ الأَعْمَشُ عَنْ أَبِي إِسْحَاقَ كَمَا قَالَ أَبُو عَوَانَةَ وَرَوَاهُ شَيْبَانُ أَبُو مُعَاوِيَةَ وَإِبْرَاهِيمُ بْنُ طَهْمَانَ
        </p>
        <p align="center"></p>
        <p align="center">
          Narrated Ali ibn AbuTalib:

          The Prophet (ﷺ) said: I have given exemption regarding horses and slaves; with regard to coins, however, you must pay a dirham for every forty (dirhams) </p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/zak3']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
       
        <p align="center">
          َدَّثَنَا أَحْمَدُ بْنُ حَنْبَلٍ، حَدَّثَنَا وَكِيعٌ، حَدَّثَنَا زَكَرِيَّا بْنُ إِسْحَاقَ الْمَكِّيُّ، عَنْ يَحْيَى بْنِ عَبْدِ اللَّهِ بْنِ صَيْفِيِّ، عَنْ أَبِي مَعْبَدٍ، عَنِ ابْنِ عَبَّاسٍ، أَنَّ رَسُولَ اللَّهِ صلى الله عليه وسلم بَعَثَ مُعَاذًا إِلَى الْيَمَنِ فَقَالَ  إِنَّكَ تَأْتِي قَوْمًا أَهْلَ كِتَابٍ فَادْعُهُمْ إِلَى شَهَادَةِ أَنْ لاَ إِلَهَ إِلاَّ اللَّهُ وَأَنِّي رَسُولُ اللَّهِ فَإِنْ هُمْ أَطَاعُوكَ لِذَلِكَ فَأَعْلِمْهُمْ أَنَّ اللَّهَ افْتَرَضَ عَلَيْهِمْ خَمْسَ صَلَوَاتٍ فِي كُلِّ يَوْمٍ 
        </p>
        <p align="center"></p>
        <p align="center">
          Narrated Ibn 'Abbas:
          said When the Messenger of Allah(ﷺ) sent Muadh to Yemen, he said to him You are going to a people who are people of the book.  </p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/zak4']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>


</div>
  </ion-content>