<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center">The Book of Purification and its Sunnah</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="majah"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">َحَدَّثَنَا هِشَامُ بْنُ عَمَّارٍ، حَدَّثَنَا الرَّبِيعُ بْنُ بَدْرٍ، حَدَّثَنَا أَبُو الزُّبَيْرِ، عَنْ جَابِرٍ، أَنَّ رَسُولَ اللَّهِ ـ صلى الله عليه وسلم ـ كَانَ يَتَوَضَّأُ بِالْمُدِّ وَيَغْتَسِلُ بِالصَّاعِ ‏.‏</p>
        <p align="center"></p>
        <p align="center">It was narrated from Jabir that:
The Messenger of Allah used to perform ablution with a Mudd (of water) and bath with a Sa'. </p>
        <p align="center"></p>
        
       
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">حَدَّثَنَا مُحَمَّدُ بْنُ الْمُؤَمَّلِ بْنِ الصَّبَّاحِ، وَعَبَّادُ بْنُ الْوَلِيدِ، قَالاَ حَدَّثَنَا بَكْرُ بْنُ يَحْيَى بْنِ زَبَّانَ، حَدَّثَنَا حِبَّانُ بْنُ عَلِيٍّ، عَنْ يَزِيدَ بْنِ أَبِي زِيَادٍ، عَنْ عَبْدِ اللَّهِ بْنِ مُحَمَّدِ بْنِ عَقِيلِ بْنِ أَبِي طَالِبٍ، عَنْ أَبِيهِ، عَنْ جَدِّهِ، قَالَ قَالَ رَسُولُ اللَّهِ ـ صلى الله عليه وسلم ـ ‏ "‏ يُجْزِئُ مِنَ الْوُضُوءِ مُدٌّ وَمِنَ الْغُسْلِ صَاعٌ ‏"‏ ‏.‏ فَقَالَ رَجُلٌ لاَ يُجْزِئُنَا ‏.‏ فَقَالَ قَدْ كَانَ يُجْزِئُ مَنْ هُوَ خَيْرٌ مِنْكَ وَأَكْثَرُ شَعَرًا ‏.‏ يَعْنِي النَّبِيَّ ـ صلى الله عليه وسلم ـ ‏.‏ </p>
        <p align="center"></p>
        <p align="center">
          'Abdullah bin Muhammed bin 'Aqil bin Abu Talib narrated from his father that his grandfather said:
"The Messenger of Allah said: 'A Mudd is sufficient for the ablution and a Sa' is sufficient for the bath.' A man said: 'It is not sufficient for us.'" He (the narrator) said: "It was sufficient for one who is better than you and had more hair" meaning the Prophet. </p>
        <p align="center"></p>
        
        
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">حَدَّثَنَا عَلِيُّ بْنُ مُحَمَّدٍ، حَدَّثَنَا وَكِيعٌ، حَدَّثَنَا إِسْرَائِيلُ، عَنْ سِمَاكٍ، ح وَحَدَّثَنَا مُحَمَّدُ بْنُ يَحْيَى، حَدَّثَنَا وَهْبُ بْنُ جَرِيرٍ، حَدَّثَنَا شُعْبَةُ، عَنْ سِمَاكِ بْنِ حَرْبٍ، عَنْ مُصْعَبِ بْنِ سَعْدٍ، عَنِ ابْنِ عُمَرَ، قَالَ قَالَ رَسُولُ اللَّهِ ـ صلى الله عليه وسلم ـ ‏ "‏ لاَ يَقْبَلُ اللَّهُ صَلاَةً إِلاَّ بِطُهُورٍ وَلاَ صَدَقَةً مِنْ غُلُولٍ ‏"‏‏</p>
        <p align="center"></p>
        <p align="center">
         It was narrated that Ibn 'Umar said:
"The Messenger of Allah said: 'Allah does not accept any prayer without purification, and He does not accept any charity from ghulul.'"</p>
        <p align="center"></p>
        
        
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">َََ ححَدَّثَنَا عَبْدُ الرَّحْمَنِ بْنُ إِبْرَاهِيمَ الدِّمَشْقِيُّ، حَدَّثَنَا مُحَمَّدُ بْنُ شُعَيْبِ بْنِ شَابُورٍ، أَخْبَرَنِي مُعَاوِيَةُ بْنُ سَلاَّمٍ، عَنْ أَخِيهِ، أَنَّهُ أَخْبَرَهُ عَنْ جَدِّهِ أَبِي سَلاَّمٍ، عَنْ عَبْدِ الرَّحْمَنِ بْنِ غَنْمٍ، عَنْ أَبِي مَالِكٍ الأَشْعَرِيِّ، أَنَّ رَسُولَ اللَّهِ ـ صلى الله عليه وسلم ـ قَالَ ‏ "‏ إِسْبَاغُ الْوُضُوءِ شَطْرُ الإِيمَانِ وَالْحَمْدُ لِلَّهِ تَمْلأُ الْمِيزَانَ وَالتَّسْبِيحُ وَالتَّكْبِيرُ مِلْءُ السَّمَوَاتِ وَالأَرْضِ وَالصَّلاَةُ نُورٌ وَالزَّكَاةُ بُرْهَانٌ وَالصَّبْرُ ضِيَاءٌ وَالْقُرْآنُ حُجَّةٌ لَكَ أَوْ عَلَيْكَ كُلُّ النَّاسِ يَغْدُو فَبَائِعٌ نَفْسَهُ فَمُعْتِقُهَا أَوْ مُوبِقُهَا ‏"‏ ‏.‏‏‏</p>
        <p align="center"></p>
        <p align="center">It was narrated from Abu Malik Ash'ari that:
The Messenger of Allah said: "Performing ablution properly is half of faith, saying Al-Hamdu Lillah fills the Scale (of good deeds), saying Subhan-Allah and Allahu Akbar fills the heavens and the earth, prayer is light, Zakat is proof, patience is brightness and the Qur'an is proof for you or against you. Every person goes out in the morning to sell his soul, so he either frees it or destroys it.'" </p>
        <p align="center"></p>
        
        
      </ion-card-content>
    </ion-card>


</div>
  </ion-content>