<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center">Bathing</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="family"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">َحَدَّثَنَا عَبْدُ اللَّهِ بْنُ يُوسُفَ، قَالَ أَخْبَرَنَا مَالِكٌ، عَنْ هِشَامٍ، عَنْ أَبِيهِ، عَنْ عَائِشَةَ، زَوْجِ النَّبِيِّ صلى الله عليه وسلم أَنَّ النَّبِيَّ صلى الله عليه وسلم كَانَ إِذَا اغْتَسَلَ مِنَ الْجَنَابَةِ </p>
        <p align="center"></p>
        <p align="center">Narrated `Aisha:
          Whenever the Prophet (ﷺ) took a bath after Janaba </p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/bath1']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">َدَّثَنَا مُحَمَّدُ بْنُ يُوسُفَ، قَالَ حَدَّثَنَا سُفْيَانُ، عَنِ الأَعْمَشِ، عَنْ سَالِمِ بْنِ أَبِي الْجَعْدِ، عَنْ كُرَيْبٍ، عَنِ ابْنِ عَبَّاسٍ، عَنْ مَيْمُونَةَ، زَوْجِ النَّبِيِّ صلى الله عليه وسلم قَالَتْ تَوَضَّأَ رَسُولُ اللَّهِ صلى الله عليه وسلم وُضُوءَهُ لِلصَّلاَةِ </p>
        <p align="center"></p>
        <p align="center">Narrated Maimuna:
          (the wife of the Prophet) Allah's Messenger (ﷺ) performed ablution like that for the prayer </p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/bath2']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">َدَّثَنَا عَبْدُ اللَّهِ بْنُ مُحَمَّدٍ، قَالَ حَدَّثَنِي عَبْدُ الصَّمَدِ، قَالَ حَدَّثَنِي شُعْبَةُ، قَالَ حَدَّثَنِي أَبُو بَكْرِ بْنُ حَفْصٍ، قَالَ سَمِعْتُ أَبَا سَلَمَةَ، يَقُولُ دَخَلْتُ أَنَا وَأَخُو، عَائِشَةَ عَلَى عَائِشَةَ فَسَأَلَهَا أَخُوهَا عَنْ غُسْلِ النَّبِيِّ، صلى الله عليه وسلم</p>
        <p align="center"></p>
        <p align="center">Narrated Abu Salama:
          `Aisha's brother and I went to `Aisha and he asked her about the bath of the Prophet </p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/bath3']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p align="center">َدَّثَنَا عَبْدُ اللَّهِ بْنُ مُحَمَّدٍ، قَالَ حَدَّثَنَا يَحْيَى بْنُ آدَمَ، قَالَ حَدَّثَنَا زُهَيْرٌ، عَنْ أَبِي إِسْحَاقَ، قَالَ حَدَّثَنَا أَبُو جَعْفَرٍ، أَنَّهُ كَانَ عِنْدَ جَابِرِ بْنِ عَبْدِ اللَّهِ هُوَ وَأَبُوهُ، وَعِنْدَهُ قَوْمٌ فَسَأَلُوهُ عَنِ الْغُسْلِ </p>
        <p align="center"></p>
        <p align="center">Narrated Abu Ja`far:
          While I and my father were with Jabir bin `Abdullah, some people asked him about taking a bath. </p>
        <p align="center"></p>
        
        <ion-button [routerLink]="['/bath4']" slot="end">
           <ion-icon slot="end" ion-icon name="arrow-forward-outline"></ion-icon>
           More
         </ion-button>
      </ion-card-content>
    </ion-card>


</div>
  </ion-content>